# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
# created-by: conda 25.7.0
# Note: This is a conda requirements file (MatchSpec format)
# Contains conda package specifications, not pip requirements

r-essentials
r-base
r-car
r-corrplot
r-explore
r-psych
r-mlbench
r-readxl
r-openxlsx
